.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Mac
.DS_Store

# Docker volumes (на случай если вдруг окажутся в папке)
postgres_data/

# Логи
*.log
*.log.*
logs/
backend/app/logs/*
!backend/app/logs/.gitkeep
